:global
	.container
		font-size 1.6rem
		height 100%
		line-height 1.1
		overflow hidden
		position relative
		width 100%

	.container2
		height 100%
		overflow hidden
		width 100%

	.container3
		height 100%
		overflow hidden
		width 100%

	.header
		padding 20px

	.logo
		color $colorLogo
		font-family 'Limelight', cursive
		font-size 48px

	.navbar
		align-items center
		display flex
		justify-content space-between

	.nav
		display flex
		flex-grow 1
		padding 0 20px

	.nav-right
		flex-grow 0

		.nav-item
			font-size 10px

	.nav-item
		font-size 24px
		margin 0 10px

	.wrap
		display flex
		height calc(100% - 240px)
		overflow hidden

	.footer
		height 100px
		padding 20px
		text-align center
		width 100%

	.subnav
		border-bottom 6px solid $colorPurple
		display flex
		justify-content center
		width 100%

		&__item
			display flex
			font-family WebServeroff, sans-serif
			font-size 2.6rem
			line-height .8
			line-height 1.4
			margin-bottom -9px
			padding 0 10px

			a
				display block

			&._active
				border-bottom 12px solid $colorPurple
				font-size 3.5rem
				line-height 1
				margin-bottom -6px

				a
					margin-bottom -12px

	.sidebar
		height 100%
		overflow-y scroll
		width 200px

	.content
		//flex 1 1 auto
		min-width 500px
		//overflow auto
		width 70%
