//webfont('museo', 'museo', 'museo')
//webfont('gilroy-light', 'gilroy-light', 'gilroy-light')
webfont('WebServeroff', 'web_serveroff', 'web_serveroff-webfont', 'normal')
//webfont('proba', 'proba', 'proba')
//webfont('unineue-light', 'unineue-light', 'unineue-light')
//webfont('CaviarDreams', 'CaviarDreams', 'CaviarDreams-webfont')
webfont('ukijqolyazma', 'ukijqolyazma', 'ukijqolyazma-webfont')
webfont('museo', 'museo', 'MuseoSansCyrl_500-webfont')
//webfont('gilroy-light', 'gilroy-light', 'gilroy-light')




//
// @import url('http://allfont.net/allfont.css?fonts=avantgardectt');
// @import url('http://allfont.net/allfont.css?fonts=caviar-dreams');
// @import url('http://allfont.net/allfont.css?fonts=avantgardectt');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Limelight');
